<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-white">
    <div class="mx-auto max-w-7xl overflow-hidden px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-8">
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-01.jpg" alt="White fabric pouch with white zipper, black zipper pull, and black elastic loop." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">Nomad Pouch</h3>
            <p class="italic text-gray-500">White and Black</p>
            <p class="mt-2 font-medium text-gray-900">$50</p>
          </a>
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-02.jpg" alt="Front of tote bag with washed black canvas body, black straps, and tan leather handles and accents." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">Zip Tote Basket</h3>
            <p class="italic text-gray-500">Washed Black</p>
            <p class="mt-2 font-medium text-gray-900">$140</p>
          </a>
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-03.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">Medium Stuff Satchel</h3>
            <p class="italic text-gray-500">Blue</p>
            <p class="mt-2 font-medium text-gray-900">$220</p>
          </a>
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-04.jpg" alt="Front of zip tote bag with black canvas, black handles, and orange drawstring top." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">High Wall Tote</h3>
            <p class="italic text-gray-500">Black and Orange</p>
            <p class="mt-2 font-medium text-gray-900">$210</p>
          </a>
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-05.jpg" alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">Zip Tote Basket</h3>
            <p class="italic text-gray-500">White and black</p>
            <p class="mt-2 font-medium text-gray-900">$140</p>
          </a>
        <a href="#" class="group text-sm">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-06.jpg" alt="Front of zip tote bag with white canvas, blue canvas straps and handle, and front zipper pocket." class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 font-medium text-gray-900">Zip High Wall Tote</h3>
            <p class="italic text-gray-500">White and blue</p>
            <p class="mt-2 font-medium text-gray-900">$150</p>
          </a>
        
      </div>
    </div>
  </div>