<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-xl font-bold text-gray-900">Customers also bought</h2>

      <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <div>
            <div class="relative">
              <div class="relative h-72 w-full overflow-hidden rounded-lg">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg" alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls." class="h-full w-full object-cover object-center">
              </div>
              <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900">Zip Tote Basket</h3>
                <p class="mt-1 text-sm text-gray-500">White and black</p>
              </div>
              <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
                <p class="relative text-lg font-semibold text-white">$140</p>
              </div>
            </div>
            <div class="mt-6">
              <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">Add to bag<span class="sr-only">, Zip Tote Basket</span></a>
            </div>
          </div>
        <div>
            <div class="relative">
              <div class="relative h-72 w-full overflow-hidden rounded-lg">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-02.jpg" alt="Front of zip tote bag with white canvas, blue canvas straps and handle, and front zipper pocket." class="h-full w-full object-cover object-center">
              </div>
              <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900">Zip High Wall Tote</h3>
                <p class="mt-1 text-sm text-gray-500">White and blue</p>
              </div>
              <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
                <p class="relative text-lg font-semibold text-white">$150</p>
              </div>
            </div>
            <div class="mt-6">
              <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">Add to bag<span class="sr-only">, Zip High Wall Tote</span></a>
            </div>
          </div>
        <div>
            <div class="relative">
              <div class="relative h-72 w-full overflow-hidden rounded-lg">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-03.jpg" alt="Front of tote with monochrome natural canvas body, straps, roll top, and handles." class="h-full w-full object-cover object-center">
              </div>
              <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900">Halfsize Tote</h3>
                <p class="mt-1 text-sm text-gray-500">Clay</p>
              </div>
              <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
                <p class="relative text-lg font-semibold text-white">$210</p>
              </div>
            </div>
            <div class="mt-6">
              <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">Add to bag<span class="sr-only">, Halfsize Tote</span></a>
            </div>
          </div>
        <div>
            <div class="relative">
              <div class="relative h-72 w-full overflow-hidden rounded-lg">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-04.jpg" alt="Front of zip tote bag with black canvas, black handles, and orange drawstring top." class="h-full w-full object-cover object-center">
              </div>
              <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900">High Wall Tote</h3>
                <p class="mt-1 text-sm text-gray-500">Black and orange</p>
              </div>
              <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
                <p class="relative text-lg font-semibold text-white">$210</p>
              </div>
            </div>
            <div class="mt-6">
              <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">Add to bag<span class="sr-only">, High Wall Tote</span></a>
            </div>
          </div>
        
      </div>
    </div>
  </div>