<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100 py-8">
    <div class="mx-auto max-w-2xl sm:px-6">
      
  <ul role="list" class="space-y-3">
    <li class="overflow-hidden bg-white px-4 py-4 shadow sm:rounded-md sm:px-6">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-68d31db3-811c-4e14-a36d-77b54bde9805" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-68d31db3-811c-4e14-a36d-77b54bde9805)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    <li class="overflow-hidden bg-white px-4 py-4 shadow sm:rounded-md sm:px-6">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-68d31db3-811c-4e14-a36d-77b54bde9805" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-68d31db3-811c-4e14-a36d-77b54bde9805)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    <li class="overflow-hidden bg-white px-4 py-4 shadow sm:rounded-md sm:px-6">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-68d31db3-811c-4e14-a36d-77b54bde9805" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-68d31db3-811c-4e14-a36d-77b54bde9805)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    
  </ul>

    </div>
  </div>