<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-white p-8">
    <div class="mx-auto max-w-md">
      
  <ul role="list" class="divide-y divide-gray-200">
    <li class="py-4">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-b4126363-2260-432a-9ef3-4e9b56aecbec" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-b4126363-2260-432a-9ef3-4e9b56aecbec)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    <li class="py-4">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-b4126363-2260-432a-9ef3-4e9b56aecbec" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-b4126363-2260-432a-9ef3-4e9b56aecbec)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    <li class="py-4">
        <x-placeholder>
          <div class="relative h-16 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
              <defs>
                <pattern id="pattern-b4126363-2260-432a-9ef3-4e9b56aecbec" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-b4126363-2260-432a-9ef3-4e9b56aecbec)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </x-placeholder>
      </li>
    
  </ul>

    </div>
  </div>