<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
            <div class="relative h-8 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-456105d6-be9f-44de-aa83-f1755565616e" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-456105d6-be9f-44de-aa83-f1755565616e)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
          <div class="px-4 py-5 sm:p-6">
            <div class="relative h-48 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-e90bacda-9504-48ce-aeb5-6638a1d293b5" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-e90bacda-9504-48ce-aeb5-6638a1d293b5)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>