<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6">
            <div class="relative h-48 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-f8a573d1-c77b-4155-beef-3dfeb1425661" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-f8a573d1-c77b-4155-beef-3dfeb1425661)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
          <div class="border-t border-gray-200 px-4 py-4 sm:px-6">
            <div class="relative h-8 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-43e4ad55-5bc0-4776-807f-2f5bc19105b2" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-43e4ad55-5bc0-4776-807f-2f5bc19105b2)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>