<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
            <div class="relative h-8 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-0ceb5d81-6b62-482c-a66b-f68e73fb5548" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-0ceb5d81-6b62-482c-a66b-f68e73fb5548)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
          <div class="px-4 py-5 sm:p-6">
            <div class="relative h-48 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-c4a401f9-60f2-4f88-a492-cefe73552092" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-c4a401f9-60f2-4f88-a492-cefe73552092)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
          <div class="border-t border-gray-200 px-4 py-4 sm:px-6">
            <div class="relative h-8 overflow-hidden rounded border border-dashed border-gray-400 opacity-75">
              <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                <defs>
                  <pattern id="pattern-d7f13698-f273-417e-9e21-6f736f6dfe37" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                  </pattern>
                </defs>
                <rect stroke="none" fill="url(#pattern-d7f13698-f273-417e-9e21-6f736f6dfe37)" width="100%" height="100%"></rect>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>